---
import { Image } from "astro:assets";
import { css } from "../../styled-system/css";
import profileImage from "../assets/images/profile_square.webp";
import IconLink from "../components/IconLink.astro";
import Layout from "../layouts/Layout.astro";
import { socials } from "../lib/consts";

const defauleLayoutStyle = css({
	py: "3rem",
	display: "flex",
	flexDirection: "column",
	alignItems: "center",
	flex: 1,
	textAlign: "center",
});

const blogLinkURL = import.meta.env.PROD ? "/blog" : "https://hayapo.dev/blog";
---

<Layout title="hayapo.dev">
	<main class={defauleLayoutStyle}>
		<Image
		src={profileImage}
		alt="hayapoが寝転んでいる.顔の部分に攻殻機動隊の笑い男マークがコラージュされている"
		width="250"
		height="250"
		class:list={[css({
			borderRadius: '50%',
			mb: "2rem"
		})]}/>
		<p class={css({fontFamily: "code", fontSize: "xxx-large", fontWeight: "bold"})}>hayapo</p>
		<p class={css({fontFamily: "code", fontSize: "large"})}>Web developer @Tokyo</p>
		<p class={css({fontFamily: "code", fontSize: "large"})}>JavaScript/TypeScript enthusiast</p>
		<div class={css({
			display: "flex",
			marginTop: "1rem",
			justifyContent: "center",
			alignItems: "center",
			gap: ".8rem"
		})}>
			<IconLink href={blogLinkURL} title="blog" name="la:blog" color={css({color: "gray"})} />
			<IconLink href=`https://github.com/${socials.github}` title="github" name="mdi:github" color={css({color: "gray"})} />
			<IconLink href=`https://x.com/${socials.twitter}` title="twitter" name="mdi:twitter" color={css({color: "gray"})} />
			<IconLink href=`https://mstdn.jp/@${socials.mastodon}` title="mastodon" name="mdi:mastodon" color={css({color: "gray"})} />
			<IconLink href=`https://bsky.app/profile/${socials.bluesky}` title="bluesky" name="ri:bluesky-fill" color={css({color: "gray"})} />
			<IconLink href=`https://discordapp.com/users/${socials.discord}` title="discord" name="ri:discord-fill" color={css({color: "gray"})} />
			<IconLink href=`https://zenn.dev/${socials.zenn}` title="zenn" name="simple-icons:zenn" color={css({color: "gray"})} isZenn/>
		</div>
	</main>
</Layout>
